.checkout{
display: flex;
margin:10px 10px;
/*padding:10px;
/*background-color: whitesmoke; */
}
/* .checkout__right{
    display: flex;
    margin:20px 10px;
    /*padding:10px;
    /*background-color: whitesmoke; 
    } */
