.Register__alert{
    background-color: tomato;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
}
.Register__closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .Register__closebtn:hover {
    color: black;
  }